.homescreen{
    width: 100%;
}
.navbar__body{
    width: 100%;
    height: 100vh;
    background-color: #F9B111;
    z-index: 2;
    padding: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.homescreen__title{
    font-size: 1.5rem;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;
}
.homescreen__products{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1232px){
    .homescreen__products{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 950px){
    .homescreen__products{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 630px){
    .homescreen__products{
        grid-template-columns: 1fr;
    }
}