*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'MontserratBlack';
}
@font-face {
  font-family: "MontserratBlack";
  src: local("MontserratBlack"),
   url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 200;
  }